
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.secondary-bg{
background-color: rgb(201, 201, 255);
}

.btn-primary{
    background: blue;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.section-title{
    font-size:35px;
    font-weight: bold;
    color: black;
}
.section-description{
    font-size: 18px;
    color: rgb(67, 67, 67);
}
.header{
    background-image: url('../images/bg.png');
    background-size: 800px;
    background-repeat: no-repeat;
    background-position:bottom right;

    
}
/*nav style*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}
.b-colour{
color: blue;
}
.dark-2{
    color: rgb(42, 41, 52);
}
.nav-title{
    font-weight:bolder;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 55px;
}
nav li a {
    text-decoration: none;
    font-size: 18px;
}



/*banner*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 100px;
    align-items: center;
}
.banner-content{
    max-width:580px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size:55px;
    font-weight: bold;
}
.banner-profile{
    width: 700px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    border-radius: 5px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600px;
}
.item-title{
    font-weight: bold;
}